.App {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app-header {
    background: aqua;
    flex: 0 0 auto;
}

.app-main {
    max-width: 900px;
    margin: 0 auto;
    flex: 1;
    overflow: auto;
    min-height: 2em;
}

.app-footer {
    flex: 0 0 auto;
    padding: 1em 0;
}

.calculation-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculator-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
}

.calculator-item {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

button.calculator-button {
    margin-left: 0.5em;
}